<div align="center">
&nbsp;
<h1><font size="20">Welcome to the ruby on rails bookstore!!!</font></h1>

<p>Please feel free to let yourself in and check out our great book selections</p>
<a class="navbar-brand" href="/"><%= image_tag 'bookclub.png', alt: 'books' %></a>
</div>